@{
    ViewBag.Title = "Home Page";
}
@*<input type="button" id="loadbutton" value="Load Data"/>
    <div id="msgbutton"></div>*@
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@if (Model.Count > 0)
{
    <ul class="top-selling">
        @foreach (var item in Model)
        {
            <li><a><span>@item.Title</span></a></li>
        }
    </ul>
}


@*@using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Label("Ad",new { @class="control-label"}
        @Html.TextBox("Name",null,new { @class="form-control"})    name,value,class özelikler

    }*@

@section scripts{
    <script src="~/Scripts/welcome.js"></script>
    }